.Dropzone {
  padding: 2em;
  /* background: var(--bs-gray-200); */
  border-radius: 1em;
  display: grid;
  place-items: center;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.active {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.caption {
  margin: 0;
}
