.PhotoGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  gap: 0.5rem;
}

.column > * {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .PhotoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .PhotoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .PhotoGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
