.Photo {
  position: relative;
  padding: 0.5em;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.Photo:hover {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.Photo img {
  width: 100%;
  cursor: pointer;
}

.ratings {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  background: white;
  border-top-left-radius: 0.5rem;
}

.Photo:not(:hover):not(:focus-visible):not(.down):not(.up) .ratings {
  display: none;
}

.arrowButton {
  display: none;
  background: none;
  padding: 0 0.5em;
  border: none;
  font-size: 2em;
  color: lightgray;
}

.Photo:hover .arrowButton,
.Photo:focus-visible .arrowButton,
.Photo.down .arrowButton.down,
.Photo.up .arrowButton.up {
  display: unset;
}

.arrowButton:hover {
  transform: scale(1.2);
  opacity: 60%;
}

.up .arrowButton.up {
  color: var(--bs-success);
}

.down .arrowButton.down {
  color: var(--bs-danger);
}

.skeleton {
  aspect-ratio: 1.5;
  opacity: 20%;
  background: #a0a0a0;
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}
