.PhotoGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}

@media (min-width: 768px) {
  .PhotoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .PhotoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .PhotoGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
