.Photo {
  padding: 0.5em;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Photo img {
  width: 100%;
  cursor: pointer;
}

.Photo button {
  background: none;
  padding: 0 1rem;
  border: none;
  font-size: 2em;
  color: lightgray;
}

.Photo button:hover {
  transform: scale(1.2);
  opacity: 60%;
}

.skeleton {
  width: 100%;
  aspect-ratio: 1.5;
  opacity: 20%;
  background: #a0a0a0;
  display: grid;
  place-items: center;
}
