.Photo {
  position: relative;
  padding: 0.5em;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Photo img {
  width: 100%;
  cursor: pointer;
}

.rating {
  background: none;
  padding: 0 1rem;
  border: none;
  font-size: 2em;
  color: lightgray;
}

.rating:hover {
  transform: scale(1.2);
  opacity: 60%;
}

.rating.up.active {
  color: var(--bs-success);
}

.rating.down.active {
  color: var(--bs-danger);
}

.skeleton {
  aspect-ratio: 1.5;
  opacity: 20%;
  background: #a0a0a0;
  display: grid;
  place-items: center;
}

.hidden {
  display: none;
}
